* {
  box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-image: radial-gradient(circle, red, yellow, purple, green, orange, blue);
}

header {
    text-align: center;
    font-size: larger;
}

h2 {
    margin-top: 0px;
}

main {
    display: flex;
    justify-content: space-around;
}

button {
    display: block;
}

h3 {
    position: relative;  left: 100px;
}

div.computerBox {
    position: relative; right: 100px;
    background-image: linear-gradient(to bottom right, blue, yellow);
}

div.midBox {
    background-image: linear-gradient(to bottom right, blue, yellow);
}

div.playerBox {
    background-image: linear-gradient(to bottom right, blue, yellow);
}

.playerBox, .midBox, .computerBox {
    width: 25%;
    border: 1px solid red;
    height: 300px;
    margin-top: 100px;
}

img {
    width: 100%; 
    height: 100%;
}

.player {
    left: 200px;
    top: 58px;
}

.computer {
    right: 5000px;
    top: 58px;
}

.midbox {
    position: relative; left: 100px; bottom: -100px;
}